name: CI Pipeline

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ feat-ci ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        pip install dvc

    - name: Pull data & artifacts (if remote configured)
      run: |
        dvc pull || echo "No DVC remote credentials configured in CI"

    - name: Reproduce pipeline
      run: |
        dvc repro

    - name: Run tests
      run: |
        pytest || echo "No tests added yet"
